//- section.about-study 
//-     .container 
//-         .lines 
//-             .line.line-1
//-             .line.line-2
//-             .line.line-3
//-             .line.line-4

//-             .node.node-1 +
//-             .node.node-2 +
//-             .node.node-3 +

//-         .how
//-             h2.section-title Как проходит обучение?
//-             p.answer Формат онлайн
//-                 br
//-                 | Город Москва - Технопарк "Кунцево" и РГУ им. А.Н. Косыгина 

//-         .where
//-             h2.section-title Где найти работу после обучения?
//-             p.answer Наши выпускники будут официально трудоустроены на партнерских фабриках в Москве 

//-         .manufactures-title Предприятия для стажировки и работы:
//-         .manufactures-wrap 
//-             .manufactures
//-                 .item(style="background-image:url(/img/partner-kuntsevo.jpg)")
//-                 .item(style="background-image:url(/img/partner-lisa-and-leo.jpg)")
//-                 .item(style="background-image:url(/img/partner-medical-service.jpg)")
//-                 .item(style="background-image:url(/img/partner-m-reason.jpg)")
//-                 .item(style="background-image:url(/img/partner-florens-group.jpg)")
//-                 .item(style="background-image:url(/img/partner-veter.jpg)")
//-                 .item(style="background-image:url(/img/partner-advateks.jpg)")
//-                 .item(style="background-image:url(/img/partner-zasport.jpg)")
//-                 .item(style="background-image:url(/img/partner-5.45-design.jpg)")
//-                 .item(style="background-image:url(/img/partner-bask.jpg)")
//-                 .item(style="background-image:url(/img/partner-rnb.jpg)")