section.counters 
    .container 
        .lines
            .line.line-1
            .line.line-2

            .node.node-1 +
            .node.node-2 +
            
        .row-counts 
            .counter 
                .photo(style="background-image: url(/img/picture-work.jpg);")
                .data 
                    #digit1.digit.js__digit(data-max='11' data-step='1' data-precision='0' data-time='10000') 0
                    .description работодателей
            .counter 
                .photo(style="background-image: url(/img/picture-positions.jpg);") 
                .data 
                    #digit2.digit.js__digit(data-max='80' data-step='1' data-precision='0' data-time='10000') 0
                    .description мест
            .counter 
                .photo(style="background-image: url(/img/picture-calendar.jpg);") 
                .data 
                    #digit3.digit.js__digit(data-max='2.5' data-step='0.1' data-precision='1' data-time='5000') 0
                    .description месяца

            .counter.only-text
                .photo(style="background-image: url(/img/picture-study.jpg);") 
                .data
                    .description бесплатное обучение


    .ready-to-studying(style="background-image: url(/img/i-understand-bg.jpg);")
        .container 
            h2.section-title Мне все понятно, хочу учиться

            .btn.btn--white.js-order Заполнить заявку