section.experts 
    .container 
        .lines
            .line.line-1

            .node.node-1 +
            .node.node-2 +

        h2.section-title Экспертный совет

        .experts-slider-thumb
            .thumb-slide 
                .slide-inner
                    .photo(style="background-image:url(/img/experts-belkevich.jpg)") 1
            .thumb-slide 
                .slide-inner
                    .photo(style="background-image:url(/img/experts-belkevich.jpg)") 2
            .thumb-slide 
                .slide-inner
                    .photo(style="background-image:url(/img/experts-belkevich.jpg)") 3
            .thumb-slide 
                .slide-inner
                    .photo(style="background-image:url(/img/experts-belkevich.jpg)") 4
            .thumb-slide 
                .slide-inner
                    .photo(style="background-image:url(/img/experts-belkevich.jpg)") 5
            .thumb-slide 
                .slide-inner
                    .photo(style="background-image:url(/img/experts-belkevich.jpg)") 6


        .experts-slider
            .expert-slide 
                .slide-inner 1
            .expert-slide 
                .slide-inner 2
            .expert-slide 
                .slide-inner 3
            .expert-slide 
                .slide-inner 4
            .expert-slide 
                .slide-inner 5
            .expert-slide 
                .slide-inner 6


    section.team 
        .container 
            h2.section-title Команда проекта

            .team-list
                .team-member 
                    .photo(style="background-image:url(/img/team-fomina.jpg)")
                    .info 
                        .name Светлана Фомина
                        .description Преподаватель ГТУ (г. Орел) по специальности технология швейных изделий, управляющая производством Adji, эксперт компании
                
                .team-member
                    .photo(style="background-image:url(/img/team-semina.jpg)")
                    .info 
                        .name Александра Семина
                        .description Практикующий технолог Adji, консультант по организации швейных производств «Наперсток»