section.main 
    section.header
        .container
            .lines 
                .line.line-1
                .line.line-2

                .node.node-1 +
                .node.node-2 +
                .node.node-3 +

            a.logo(href="/") 
                img.logo-img(src="/img/logo.svg")

            .burger.js__burger 
                nav.main-menu
                    a.nav-link(href="/") Главная
                    a.nav-link(href="/") Положение о формировании экспертного совета
                    a.nav-link(href="/") Порядок конкурсного отбора
                    a.nav-link(href="/") Порядок проекта
                    a.nav-link(href="/") Заявка участника
                    a.nav-link(href="/") Заявка партнера

            h1.main-offer Хотите

            .promo-info
                .advantages
                    .advantage.advantage-1 Интересную работу?
                    .advantage.advantage-2 Конкурентную зарплату?
                    .advantage.advantage-3 Востребованную 
                        br
                        | специальность?

            .promo-actions 
                .about-project 
                    .title.js__about-project О проекте
                    .about Проект "Фабрика легпрома" предлагает вам пройти бесплатное обучение и получить прикладную профессию – швеи, закройщика, конструктора, технолога – с возможностью дальнейшего трудоустройства на производствах.

                .btn.btn--black.js-order Записаться на курс

            .mannequins--bg 
                .mannequins--models

    section.who-can 
        .container 
            .lines
                .line.line-1
                .line.line-2
                .line.line-3
                .line.line-4

                .node.node-1 +
                .node.node-2 +
                .node.node-3 +
                .node.node-4 +

            .who-can-studying
                h2.section-title Кто может пройти обучение?
                .btn-collapse.js__collapse.js__collapse-who
                .overflow-wrap
                    .list-wrap
                        ul.list 
                            li.item Выпускники профильных вузов по направлению дизайна или конструирования одежды, профильных училищ;
                            li.item Люди со стажем работы по специальности от полугода;
                            li.item Специалисты, давно работающие в сфере моды или дизайна, которые хотят повысить свою квалификацию;
                            li.item Начинающие специалисты, которым необходима практика, повышение квалификации и гарантированное место работы;
                            li.item Профессионалы, оставшиеся на данный момент без работы.
                    .photo

            .program-purpose 
                .photo
                h2.section-title Цель программы
                .btn-collapse.js__collapse.js__collapse-program 
                .overflow-wrap
                    .list-wrap
                        .list
                            p.item Закрыть кадровые потребности фабрик легкой промышленности, подготовить специалистов высокого уровня, повысить престиж профессий швеи, закройщика, конструктора, технолога.
                            p.item Проект реализуется Агентством креативных индустрий (АКИ) и Русской ассоциацией участников фешен-индустрии (РАФИ).

    section.counters 
        .container 
            .lines
                .line.line-1
                .line.line-2

                .node.node-1 +
                .node.node-2 +

            .row-counts 
                .counter 
                    .photo(style="background-image: url(/img/picture-work.jpg);")
                    .data 
                        #digit1.digit.js__digit(data-max='10' data-step='1' data-precision='0' data-time='10000') 10
                        .description работодателей
                .counter 
                    .photo(style="background-image: url(/img/picture-positions.jpg);") 
                    .data 
                        #digit2.digit.js__digit(data-max='80' data-step='1' data-precision='0' data-time='10000') 80
                        .description мест
                .counter 
                    .photo(style="background-image: url(/img/picture-calendar.jpg);") 
                    .data 
                        #digit3.digit.js__digit(data-max='2.5' data-step='0.1' data-precision='1' data-time='5000') 2.5
                        .description месяца

                .counter.only-text
                    .photo(style="background-image: url(/img/picture-study.jpg);") 
                    .data
                        .description бесплатное обучение


        .ready-to-studying(style="background-image: url(/img/i-understand-bg.jpg);")
            .container 
                h2.section-title Мне все понятно, хочу учиться

                .btn.btn--white.js-order Заполнить заявку

    section.program 
        .container 
            .lines
                .line.line-1

            .study-time
                .hours 260
                .points часов

            .profession-selector 
                .profession.active.js__prof Швея
                .profession.js__prof Конструктор
                .profession.js__prof Технолог
                .profession.js__prof Закройщик

            h2.section-title Программы обучения

            .program-wrap 
                .paragraph 
                    .title 1. Чем занимается Швея
                        .lines
                            .node +
                    .btn-collapse.js__collapse-list
                    .list.content
                        h3 Теоретический курс - 40 часов
                        p На производствах работа швеи уже давно не ограничивается только шитьем на машинке. Сейчас швеи являются операторами швейных автоматов и полуавтоматов. При этом у профессии есть свои разряды и специализации. Ее представители делятся на швей женского и мужского ассортиментов одежды, швей по пошиву спортивной одежды, одежды из кожи и меха, трикотажа и т.д. Вышивальщиц также относят к швеям. Они занимаются расчетом рисунка на ткани, подбором ниток, бисера, стекляруса и других материалов. В основном вышивальщицы работают операторами специальных автоматизированных машин, но ручной труд ценится гораздо выше.
                .paragraph 
                    .title 2. Программа
                        .lines
                            .node +
                    .btn-collapse.js__collapse-list
                    .list.content
                        h3 Теоретический курс - 40 часов
                        p Вводный курс - ассортимент продукции, используемое оборудование, порядок построения работы на производственных потоках.
                            br
                            | Основные термины и определения, классификация машин, машинных игл.
                            br
                            | Материаловедение. Стандартизация и контроль качества изделий.
                            br
                            | Охрана труда, электро- и пожарная безопасность на производстве.
                        h3 Практический курс - 200 часов
                        p Вводный инструктаж, подготовка машин к работе.
                            br
                            | Настраивание машин на тех. параметры, заявленные преподавателем.
                            br
                            | Отработка строчки и пробное стачивание деталей.
                            br
                            | Заготовка узлов изделий на машинах разного класса.
                            br
                            | Отработка навыков скоростного и качественного пошива.
                            br
                            | Определение нескольких основных операций.
                        h3 Практика на производстве заказчика - 20 часов

                .paragraph
                    .title 3. Вы научитесь
                        .lines
                            .node +
                    .btn-collapse.js__collapse-list
                    .list.content 
                        ul
                            li Скоростному и качественному пошиву изделий на потоке с пооперационной обработкой;
                            li Настройке машины на заданные технические параметры;
                            li Контролю качества пошива и своевременному устранению дефектов в изделиях;
                            li Укладке и передаче отшитых изделий на следующие технологические этапы.

            .btn.btn--black.js__order Записаться на курс

    section.about-study 
        .container 
            .wrapper
                .lines 
                    .line.line-1
                    .line.line-2
                    .line.line-3
                    //- .line.line-4

                    .node.node-1 +
                    .node.node-2 +
                    .node.node-3 +

                .how
                    h2.section-title Как проходит обучение?
                    p.answer Формат онлайн
                        br
                        | Город Москва - Технопарк "Кунцево" и РГУ им. А.Н. Косыгина 

                .where
                    h2.section-title Где найти работу после обучения?
                    p.answer Наши выпускники будут официально трудоустроены на партнерских фабриках в Москве 

                .manufactures-title Предприятия для стажировки и работы:
                .manufactures-wrap 
                    .manufactures
                        .item(style="background-image:url(/img/partner-kuntsevo.jpg)")
                        .item(style="background-image:url(/img/partner-lisa-and-leo.jpg)")
                        .item(style="background-image:url(/img/partner-medical-service.jpg)")
                        .item(style="background-image:url(/img/partner-m-reason.jpg)")
                        .item(style="background-image:url(/img/partner-florens-group.jpg)")
                        .item(style="background-image:url(/img/partner-veter.jpg)")
                        .item(style="background-image:url(/img/partner-advateks.jpg)")
                        .item(style="background-image:url(/img/partner-zasport.jpg)")
                        .item(style="background-image:url(/img/partner-5.45-design.jpg)")
                        .item(style="background-image:url(/img/partner-bask.jpg)")
                        .item(style="background-image:url(/img/partner-rnb.jpg)")
                    
    section.experts 
        .container 
            .lines
                .line.line-1
                .line.line-2
                .node.node-1 +
                .node.node-2 +
                .node.node-3 +

            h2.section-title Экспертный совет

            .experts-slider-thumb
                .thumb-slide 
                    .slide-inner
                        .photo(style="background-image:url(/img/experts-belkevich.jpg)") 1
                .thumb-slide 
                    .slide-inner
                        .photo(style="background-image:url(/img/experts-belkevich.jpg)") 2
                .thumb-slide 
                    .slide-inner
                        .photo(style="background-image:url(/img/experts-belkevich.jpg)") 3
                .thumb-slide 
                    .slide-inner
                        .photo(style="background-image:url(/img/experts-belkevich.jpg)") 4
                .thumb-slide 
                    .slide-inner
                        .photo(style="background-image:url(/img/experts-belkevich.jpg)") 5
                .thumb-slide 
                    .slide-inner
                        .photo(style="background-image:url(/img/experts-belkevich.jpg)") 6


            .experts-slider
                .expert-slide 
                    .slide-inner
                        .content
                            p.name Татьяна
                            p.lastname Белькевич
                            p.position эксперт-куратор проекта
                            p.description Совладелец, основатель, президент Русской ассоциации участников фешен индустрии (РАФИ). Совладелец, основатель, коммерческий директор Медиахолдинга PROfashion. (г.Москва) С 2006 года является совладельцем и коммерческим директором Медиахолдинга PROfashion. PROfashion – ведущее аналитическое издание о моде для профессионалов Индустрии Моды, так же в медиа-холдинг входит порядка 15 проектов, в том числе печатные издания, онлайн-портал, консалтинговое агентство и коммуникационное агентство. С 2016 года является президентом РАФИ
                .expert-slide 
                    .slide-inner 2
                .expert-slide 
                    .slide-inner 3
                .expert-slide 
                    .slide-inner 4
                .expert-slide 
                    .slide-inner 5
                .expert-slide 
                    .slide-inner 6


            .team 
                h2.section-title Команда проекта

                .team-list
                    .team-member 
                        .photo(style="background-image:url(/img/team-fomina.jpg)")
                        .info 
                            .name Светлана Фомина
                            .description Преподаватель ГТУ (г. Орел) по специальности технология швейных изделий, управляющая производством Adji, эксперт компании
                    
                    .team-member
                        .photo(style="background-image:url(/img/team-semina.jpg)")
                        .info 
                            .name Александра Семина
                            .description Практикующий технолог Adji, консультант по организации швейных производств «Наперсток»

    section.feedback 
        .container 
            .container 
                .feedback-form 
                    h2.section-title Остались вопросы, задайте их экспертному совету

                    .field-wrap 
                        input.field(type="text" name="name" placeholder="ФИО" required)

                    .field-wrap 
                        input.field(type="text" name="phone" placeholder="Телефон" required)

                    .field-wrap 
                        textarea.field(name="msg")

                    .form-controls
                        input.btn.btn--light(type="submit" name="submit" value="Отправить")

    footer 
        .container
            .logo-row 
                a.logo(href='/')
                    img.logo-img(src='/img/logo-footer.svg')
            
            .main-offer Хотите освоить всегда востребованную профессию на высоком уровня

            .links-row 
                .btn.btn--light Заполнить заявку

            .links
                a.nav-link(href="/") Положение о формировании экспертного совета
                a.nav-link(href="/") Порядок конкурсного отбора
                a.nav-link(href="/") Порядок проекта
                a.nav-link(href="/") Заявка участника
                a.nav-link(href="/") Заявка партнера





