section.program 
    .container 
        .lines
            .line.line-1

        .study-time
            .hours 260
            .points часов

        .profession-selector 
            .profession.active.js__prof Швея
            .profession.js__prof Конструктор
            .profession.js__prof Технолог
            .profession.js__prof Закройщик

        h2.section-title Программы обучения

        .program-wrap 
            .paragraph 
                .title 1. Чем занимается Швея
                    .lines
                        .node +
                .btn-collapse.js__collapse-list
                .list.content
                    h3 Теоретический курс - 40 часов
                    p На производствах работа швеи уже давно не ограничивается только шитьем на машинке. Сейчас швеи являются операторами швейных автоматов и полуавтоматов. При этом у профессии есть свои разряды и специализации. Ее представители делятся на швей женского и мужского ассортиментов одежды, швей по пошиву спортивной одежды, одежды из кожи и меха, трикотажа и т.д. Вышивальщиц также относят к швеям. Они занимаются расчетом рисунка на ткани, подбором ниток, бисера, стекляруса и других материалов. В основном вышивальщицы работают операторами специальных автоматизированных машин, но ручной труд ценится гораздо выше.
            .paragraph 
                .title 2. Программа
                    .lines
                        .node +
                .btn-collapse.js__collapse-list
                .list.content
                    h3 Теоретический курс - 40 часов
                    p Вводный курс - ассортимент продукции, используемое оборудование, порядок построения работы на производственных потоках.
                        br
                        | Основные термины и определения, классификация машин, машинных игл.
                        br
                        | Материаловедение. Стандартизация и контроль качества изделий.
                        br
                        | Охрана труда, электро- и пожарная безопасность на производстве.
                    h3 Практический курс - 200 часов
                    p Вводный инструктаж, подготовка машин к работе.
                        br
                        | Настраивание машин на тех. параметры, заявленные преподавателем.
                        br
                        | Отработка строчки и пробное стачивание деталей.
                        br
                        | Заготовка узлов изделий на машинах разного класса.
                        br
                        | Отработка навыков скоростного и качественного пошива.
                        br
                        | Определение нескольких основных операций.
                    h3 Практика на производстве заказчика - 20 часов

            .paragraph
                .title 3. Вы научитесь
                    .lines
                        .node +
                .btn-collapse.js__collapse-list
                .list.content 
                    ul
                        li Скоростному и качественному пошиву изделий на потоке с пооперационной обработкой;
                        li Настройке машины на заданные технические параметры;
                        li Контролю качества пошива и своевременному устранению дефектов в изделиях;
                        li Укладке и передаче отшитых изделий на следующие технологические этапы.

        .btn.btn--black.js__order Записаться на курс




    section.about-study 
        .container 
            .lines 
                .line.line-1
                .line.line-2
                .line.line-3
                .line.line-4

                .node.node-1 +
                .node.node-2 +
                .node.node-3 +

            .how
                h2.section-title Как проходит обучение?
                p.answer Формат онлайн
                    br
                    | Город Москва - Технопарк "Кунцево" и РГУ им. А.Н. Косыгина 

            .where
                h2.section-title Где найти работу после обучения?
                p.answer Наши выпускники будут официально трудоустроены на партнерских фабриках в Москве 

            .manufactures-title Предприятия для стажировки и работы:
            .manufactures-wrap 
                .manufactures
                    .item(style="background-image:url(/img/partner-kuntsevo.jpg)")
                    .item(style="background-image:url(/img/partner-lisa-and-leo.jpg)")
                    .item(style="background-image:url(/img/partner-medical-service.jpg)")
                    .item(style="background-image:url(/img/partner-m-reason.jpg)")
                    .item(style="background-image:url(/img/partner-florens-group.jpg)")
                    .item(style="background-image:url(/img/partner-veter.jpg)")
                    .item(style="background-image:url(/img/partner-advateks.jpg)")
                    .item(style="background-image:url(/img/partner-zasport.jpg)")
                    .item(style="background-image:url(/img/partner-5.45-design.jpg)")
                    .item(style="background-image:url(/img/partner-bask.jpg)")
                    .item(style="background-image:url(/img/partner-rnb.jpg)")

    section.experts 
        .container 
            .lines
                .line.line-1
                .node.node-1 +
                .node.node-2 +

            h2.section-title Экспертный совет

            .experts-slider-thumb
                .thumb-slide 
                    .slide-inner
                        .photo(style="background-image:url(/img/experts-belkevich.jpg)") 1
                .thumb-slide 
                    .slide-inner
                        .photo(style="background-image:url(/img/experts-belkevich.jpg)") 2
                .thumb-slide 
                    .slide-inner
                        .photo(style="background-image:url(/img/experts-belkevich.jpg)") 3
                .thumb-slide 
                    .slide-inner
                        .photo(style="background-image:url(/img/experts-belkevich.jpg)") 4
                .thumb-slide 
                    .slide-inner
                        .photo(style="background-image:url(/img/experts-belkevich.jpg)") 5
                .thumb-slide 
                    .slide-inner
                        .photo(style="background-image:url(/img/experts-belkevich.jpg)") 6


            .experts-slider
                .expert-slide 
                    .slide-inner 1
                .expert-slide 
                    .slide-inner 2
                .expert-slide 
                    .slide-inner 3
                .expert-slide 
                    .slide-inner 4
                .expert-slide 
                    .slide-inner 5
                .expert-slide 
                    .slide-inner 6


        section.team 
            .container 
                h2.section-title Команда проекта

                .team-list
                    .team-member 
                        .photo(style="background-image:url(/img/team-fomina.jpg)")
                        .info 
                            .name Светлана Фомина
                            .description Преподаватель ГТУ (г. Орел) по специальности технология швейных изделий, управляющая производством Adji, эксперт компании
                    
                    .team-member
                        .photo(style="background-image:url(/img/team-semina.jpg)")
                        .info 
                            .name Александра Семина
                            .description Практикующий технолог Adji, консультант по организации швейных производств «Наперсток»