section.who-can 
    .container 
        .lines
            .line.line-1
            .line.line-2
            .line.line-3
            .line.line-4

            .node.node-1 +
            .node.node-2 +
            .node.node-3 +
            .node.node-4 +

        .who-can-studying
            h2.section-title Кто может пройти обучение?
            .btn-collapse.js__collapse.js__collapse-who
            .overflow-wrap
                .list-wrap
                    ul.list 
                        li.item Выпускники профильных вузов по направлению дизайна или конструирования одежды, профильных училищ;
                        li.item Люди со стажем работы по специальности от полугода;
                        li.item Специалисты, давно работающие в сфере моды или дизайна, которые хотят повысить свою квалификацию;
                        li.item Начинающие специалисты, которым необходима практика, повышение квалификации и гарантированное место работы;
                        li.item Профессионалы, оставшиеся на данный момент без работы.
                .photo

        .program-purpose 
            .photo
            h2.section-title Цель программы
            .btn-collapse.js__collapse.js__collapse-program 
            .overflow-wrap
                .list-wrap
                    ul.list
                        li.item Закрыть кадровые потребности фабрик легкой промышленности, подготовить специалистов высокого уровня, повысить престиж профессий швеи, закройщика, конструктора, технолога.
                        li.item Проект реализуется Агентством креативных индустрий (АКИ) и Русской ассоциацией участников фешен-индустрии (РАФИ).