section.header
	.container
		.callback
		
		.lines 
			.line.line-1
		
			.node.node-1 +
			.node.node-2 +
			.node.node-3 +

		a.logo(href="/") 
			img.logo-img(src="/img/logo.svg")

		h1.main-offer Хотите

		.promo-info
			.advantages
				.advantage.advantage-1 Интересную работу?
				.advantage.advantage-2 Конкурентную зарплату?
				.advantage.advantage-3 Востребованную 
					br
					| специальность?
		
		.promo-actions 
			.about-project О проекте
			.btn.btn--black.js-order Записаться на курс

		.mannequins--bg 
			.mannequins--models
