section.header
	.container 
		a.logo(href="/") 
			img.logo-img(src="/img/logo.svg")

		h1.main-offer Хотите

		.promo-info
			.lines 
				.line-1
				.line-2

			.advantages
				.advantage Интересную работу?
				.advantage Конкурентную зарплату?
				.advantage Востребованную специальность?
		
		.promo-actions 
			.about-project О проекте
			.btn.btn--black.js-order Записаться на курс

		.mannequins--bg 
			.mannequins--models
