* {
    position: relative;
    box-sizing: border-box;
    font-family: "Cera Pro", sans-serif;
    font-weight: 300;
}
html {
    width: 100%;
    min-height: 100vh;
}
body {
    min-width: 320px;
    width: 100%;
    overflow-x: hidden;
    font-size: 1.041666vw;
    // font-size: 20px;
    background: $light;
    color: $black;
}
@media screen and (min-width: 1920px) {
    body {
        font-size: 20px;
    }
}
.container {
    width: 100%;
    // max-width: 1320px;
    max-width: 66em;
    margin: 0 auto;
    padding: 0 1em;
}
.lines {
    .line {
        position: absolute;
        width: 0.2em;
        background: $black;
        z-index: -1;
    }
    .node {
        position: absolute;
        width: 1.2em;
        height: 1.2em;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.6em;
        font-weight: bold;
        color: $light;
        background-color: $black;
        padding: 0 0 0.1em 0;
    }

    .line-2 {
        height: 12em;
        top: 43.8em;
        transform: rotate(42.8deg);
        left: 20.8em;
    }
    .line-3 {
        height: 107em;
        top: 4.9em;
        left: 70.4em;
        transform: rotate(-86.3deg);
    }
}
