.experts {
    height: 55em;
    .container {
        height: 28em;
        .lines {
            .line.line-1 {
                height: 79.8em;
                top: -18em;
                left: 0.15em;
                transform: rotate(58.6deg);
            }

            .node.node-1 {
                left: 20.9em;
                top: -0.1em;
            }
            .node.node-2 {
                display: none;
            }
        }

        .section-title {
            position: absolute;
            display: inline-block;
            margin: 0;
            font-size: 2.3em;
            text-transform: uppercase;
            font-weight: bold;
            top: 0.1em;
            left: 16.95em;
            width: auto;
            line-height: 1.3;
        }

        .experts-slider-thumb.slick-slider {
            width: 89.2em;
            left: -9.6em;
            top: 5.7em;
            height: 17em;

            .slick-list {
                height: inherit;
                .slick-track {
                    height: inherit;
                    .slick-slide {
                        height: inherit;
                        padding: 1em 0;
                        width: 17em;
                        height: 17em;
                        .slide-inner {
                            width: 100%;
                            height: 100%;

                            .photo {
                                width: 100%;
                                height: 100%;
                                background-repeat: no-repeat;
                                background-size: cover;
                                background-position: center;
                                color: $light;
                            }

                            &:nth-child(odd) {
                                .slide-inner {
                                    background: rebeccapurple;
                                }
                            }
                        }
                    }

                    .slick-slide.slick-current {
                        transition: all 0.3s linear;
                        padding: 0;
                        .slide-inner {
                            background: green !important;
                            border: 1em solid $gray;
                        }
                    }
                }
            }
        }

        .experts-slider.slick-slider {
            width: 17em;
            left: -9.6em;
            top: 5.7em;
            height: 17em;
            position: absolute;
            top: 0.3em;
            left: 0.9em;
            width: 28.9em;
            height: 25.5em;
            .slick-list {
                height: inherit;
                .slick-track {
                    height: inherit;
                    .slick-slide {
                        height: inherit;
                        .slide-inner {
                            width: 100%;
                            height: 100%;
                            background: #000;
                            color: #fff;
                            .photo {
                                width: 100%;
                                height: 100%;
                                background-repeat: no-repeat;
                                background-size: cover;
                                background-position: center;
                            }

                            &:nth-child(odd) {
                                .slide-inner {
                                    background: rebeccapurple;
                                }
                            }
                        }
                    }
                }
            }

            .slick-prev.slick-arrow {
                display: inline-block;
                z-index: 15;
                transform: none;
                bottom: 4em;
                top: auto;
                left: -0.8em;
                right: auto;
                width: 2.8em;
                height: 2.8em;
                font-size: 1em;
                background-image: url(/img/icon-prev.svg);
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;

                &::before {
                    display: none;
                }
            }

            .slick-next.slick-arrow {
                display: inline-block;
                z-index: 15;
                transform: none;
                bottom: 4em;
                top: auto;
                right: -0.8em;
                left: auto;
                width: 2.8em;
                height: 2.8em;
                font-size: 1em;
                background-image: url(/img/icon-next.svg);
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;

                &::before {
                    display: none;
                }
            }
        }
    }

    .team {
        .container {
            .section-title {
                position: relative;
                display: inline-block;
                margin: 0;
                font-size: 1.6em;
                text-transform: uppercase;
                font-weight: bold;
                top: auto;
                left: 2.6em;
                width: auto;
                line-height: 1.3;
                margin: 0.95em 0 0 0;
            }

            .team-list {
                margin: 0.8em 0;
                display: flex;
                align-items: stretch;
                justify-content: space-between;
                flex-wrap: wrap;
                padding: 0 4em;

                .team-member {
                    width: 50%;
                    flex: none;
                    padding: 0 1em 0 0;
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                    flex-wrap: nowrap;
                    .photo {
                        width: 5.8em;
                        height: 5.8em;
                        flex: none;
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: contain;
                    }
                    .info {
                        padding: 0.3em 1em;
                        .name {
                            font-size: 1.6em;
                            letter-spacing: 0.04em;
                            margin-bottom: 0.2em;
                        }
                        .description {
                            font-size: 0.9em;
                            line-height: 1.5;
                        }
                    }
                }
            }
        }
    }
}
