.program {
    height: 50em;
    height: 53.3em;
    height: 104.2em;
    .container {
        .lines {
            .line.line-1 {
                height: 24.5em;
                top: -0.8em;
                left: -0.3em;
            }

            .node.node-1 {
                left: -0.65em;
                top: 14.7em;
                z-index: 10;
            }
            .node.node-2 {
                left: -0.65em;
                top: 17.7em;
                z-index: 10;
            }
            .node.node-3 {
                left: -0.65em;
                top: 20.8em;
                z-index: 10;
            }
            .node.node-4 {
                left: 6em;
                top: 25.2em;
            }
        }

        .study-time {
            display: inline-flex;
            top: 5.4em;
            left: 5.05em;
            align-items: center;
            justify-content: flex-start;
            .hours {
                font-size: 4.8em;
                font-weight: 700;
            }
            .points {
                font-size: 1.2em;
                line-height: 1;
                display: inline-block;
                top: 0.1em;
                left: 0.2em;
                text-transform: uppercase;
            }
        }

        .profession-selector {
            width: auto;
            display: inline-flex;
            align-items: center;
            justify-content: flex-end;
            right: 0;
            position: absolute;
            top: 7.6em;

            .profession {
                width: 9em;
                font-size: 1.2em;
                text-transform: uppercase;
                display: flex;
                align-items: center;
                flex-direction: row-reverse;
                transition: all 0.3s linear;
                cursor: pointer;
                justify-content: center;
                &::after {
                    display: block;
                    content: "";
                    position: relative;
                    width: 0.84em;
                    height: 0.84em;
                    border-radius: 10em;
                    order: 0;
                    margin-right: 0.2em;
                    top: 0.05em;
                    transition: all 0.3s linear;
                    background-image: url(/img/icon-radio.svg);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
            }
            .profession.active {
                font-weight: 700;
                &::after {
                    background-image: url(/img/icon-radio-active.svg);
                }
            }
        }

        .section-title {
            display: inline-block;
            margin: 0;
            font-size: 3.165em;
            text-transform: uppercase;
            font-weight: bold;
            top: 4.2em;
            left: -2.425em;
            width: auto;
            line-height: 1.25;
        }

        .program-wrap {
            width: 100%;
            left: -0.1em;
            top: 16.8em;
            z-index: 5;
            background: $light;
            padding-bottom: 1.6em;

            &::after {
                position: absolute;
                width: 0.2em;
                background: #000106;
                height: 100%;
                left: -0.3em;
                content: "";
                z-index: 5;
                top: 2.8em;
            }

            .paragraph {
                width: 100%;
                font-size: 1.6em;
                text-transform: uppercase;
                padding: 0.1em 0 1.8em 3.3em;
                left: 0em;
                background: $light;

                &::after {
                    position: absolute;
                    display: block;
                    content: "";
                    position: absolute;
                    width: 0.2em;
                    background: #000106;
                    z-index: -1;
                }

                .title {
                    &::after {
                        position: absolute;
                        display: block;
                        content: "";
                        height: 0.075em;
                        width: 39.9em;
                        top: 1.25em;
                        left: -3em;
                        z-index: 1;
                        background-color: $gray;
                    }

                    .lines {
                        .node {
                            left: -3.95em;
                            top: -0.5em;
                            font-size: 1em;
                            z-index: 10;
                        }
                    }
                }
                .btn-collapse {
                    width: 1em;
                    height: 1em;
                    position: absolute;
                    left: 26.3em;
                    top: 0.15em;
                    z-index: 10;
                    cursor: pointer;
                    display: inline-block;
                    background-image: url(/img/icon-arrow-collapse.svg);
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                    transition: all 0.3s linear;

                    &.active {
                        transform: scaleY(-1);
                    }
                }
                .list {
                    display: none;
                    background: $light;
                    .item {
                    }
                }
                .content {
                    font-size: 0.5625em;
                    padding: 1.2em 2em;

                    p,
                    ul,
                    ol {
                        margin-bottom: 2em;
                    }
                    p,
                    ul,
                    ol,
                    li,
                    a,
                    span {
                        font-size: 1em;
                        line-height: 1.5;
                        text-transform: initial;
                    }

                    ul {
                        display: inline-block;
                        padding: 0;
                    }

                    ul > li {
                        display: inline-block;
                        line-height: 1.5;
                        margin: 0 0 0.5em 0;
                        padding: 0 0 0 1.4em;
                    }

                    ul > li:before {
                        display: inline-block;
                        position: absolute;
                        content: "";
                        background-image: url(/img/icon-list-bullit.svg);
                        background-position: center;
                        background-size: contain;
                        background-repeat: no-repeat;
                        width: 0.934em;
                        height: 1.023em;
                        left: 0;
                        top: 0em;
                    }

                    h1,
                    h2,
                    h3,
                    h4,
                    h5,
                    h6 {
                        font-weight: 500;
                    }
                }
            }

            .paragraph:nth-child(1) {
                &::before {
                    left: -0.65em;
                    top: 14.7em;
                    z-index: 10;
                }
            }
        }

        .btn {
            display: inline-block;
            font-size: 0.9em;
            font-weight: 500;
            text-transform: uppercase;
            padding: 0.85em 2.7em;
            border: 0.1em solid $black;
            font-weight: 500;
            top: 20.1em;
            left: 5.85em;
            cursor: pointer;
            z-index: 10;
            width: auto;

            &::before {
                display: block;
                content: "";
                position: absolute;
                width: 0.2em;
                background: $black;
                z-index: -1;
                top: 1.4em;
                width: 10.3em;
                height: 0.2em;
                left: -6.2em;
            }
            &::after {
                display: block;
                content: "";
                position: absolute;
                width: 0.2em;
                background: $black;
                z-index: -1;
                top: 0.9em;
                left: 0.4em;
                height: 15.9em;
                transform: rotate(39deg);
            }
        }
        .btn--black {
            border: 0.1em solid $black;
            background-color: $black;
            color: $light;
            transition: all 0.3s linear;

            &:hover {
                background-color: $light;
                color: $black;
            }
        }
    }
    .about-study {
        top: 25.6em;
        .container {
            .lines {
                top: 1.3em;
                .line.line-1 {
                    height: 21.6em;
                    top: 3.4em;
                    left: 0.45em;
                }
                .line.line-2 {
                    height: 56.5em;
                    top: -0.35em;
                    left: -27.6em;
                    transform: rotate(84deg);
                }
                .line.line-3 {
                    height: 115.4em;
                    top: -24.2em;
                    left: 1.3em;
                    transform: rotate(92.2deg);
                }
                .line.line-4 {
                    height: 29.8em;
                    top: 29.9em;
                    left: 47.15em;
                    transform: rotate(55deg);
                }

                .node.node-1 {
                    top: 1.2em;
                    left: -0.1em;
                    z-index: -1;
                }
                .node.node-2 {
                    top: 18.8em;
                    left: -35.4em;
                    z-index: -1;
                }
                .node.node-3 {
                    top: 21.8em;
                    left: 36.6em;
                    z-index: -1;
                }
            }

            .how {
                position: relative;
                display: inline-block;
                line-height: 1;
                top: 0.4em;
                left: 5.5em;
                width: 20.5em;
                height: auto;

                .section-title {
                    display: inline-block;
                    margin: 0;
                    font-size: 2.3em;
                    text-transform: uppercase;
                    font-weight: bold;
                    top: 0em;
                    left: 0em;
                    width: auto;
                    line-height: 1.3;
                }
                .answer {
                    font-size: 0.9em;
                    margin: 0;
                    line-height: 1.5;
                    top: 1em;
                    br {
                    }
                }
            }

            .where {
                display: inline-block;
                line-height: 1;
                top: 16.1em;
                left: -15.4em;
                width: 20.5em;
                height: auto;
                position: relative;

                .section-title {
                    display: inline-block;
                    margin: 0;
                    font-size: 2.3em;
                    text-transform: uppercase;
                    font-weight: bold;
                    top: 0em;
                    left: 0em;
                    width: auto;
                    line-height: 1.3;
                }
                .answer {
                    font-size: 0.9em;
                    margin: 0;
                    line-height: 1.5;
                    top: 1em;
                    br {
                    }
                }
            }

            .manufactures-title {
                font-size: 1.2em;
                text-transform: uppercase;
                display: inline-block;
                position: relative;
                left: 26.3em;
                top: -8.7em;
            }
            .manufactures-wrap {
                width: 48em;
                top: -10.3em;
                height: auto;
                background-color: $gray;
                right: -31.5em;
                position: relative;
                padding: 1.2em 2em 1em 2em;
                .manufactures {
                    display: flex;
                    align-items: stretch;
                    justify-content: flex-start;
                    flex-wrap: wrap;
                    width: 32.5em;
                    .item {
                        width: 9.8em;
                        height: 9.8em;
                        margin-bottom: 1em;
                        margin-right: 1em;
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: contain;
                    }
                }
            }
        }
    }

    .experts {
        height: 55em;
        top: 79.7em;
        .container {
            height: 28em;
            .lines {
                .line.line-1 {
                    height: 79.8em;
                    top: -18em;
                    left: 0.15em;
                    transform: rotate(58.6deg);
                }

                .node.node-1 {
                    left: 20.9em;
                    top: -0.1em;
                }
                .node.node-2 {
                    display: none;
                }
            }

            .section-title {
                position: absolute;
                display: inline-block;
                margin: 0;
                font-size: 2.3em;
                text-transform: uppercase;
                font-weight: bold;
                top: 0.1em;
                left: 16.95em;
                width: auto;
                line-height: 1.3;
            }

            .experts-slider-thumb.slick-slider {
                width: 89.2em;
                left: -9.6em;
                top: 5.7em;
                height: 17em;

                .slick-list {
                    height: inherit;
                    .slick-track {
                        height: inherit;
                        .slick-slide {
                            height: inherit;
                            padding: 1em 0;
                            width: 17em;
                            height: 17em;
                            .slide-inner {
                                width: 100%;
                                height: 100%;

                                .photo {
                                    width: 100%;
                                    height: 100%;
                                    background-repeat: no-repeat;
                                    background-size: cover;
                                    background-position: center;
                                    color: $light;
                                }

                                &:nth-child(odd) {
                                    .slide-inner {
                                        background: rebeccapurple;
                                    }
                                }
                            }
                        }

                        .slick-slide.slick-current {
                            transition: all 0.3s linear;
                            padding: 0;
                            .slide-inner {
                                background: green !important;
                                border: 1em solid $gray;
                            }
                        }
                    }
                }
            }

            .experts-slider.slick-slider {
                width: 17em;
                left: -9.6em;
                top: 5.7em;
                height: 17em;
                position: absolute;
                top: 0.3em;
                left: 0.9em;
                width: 28.9em;
                height: 25.5em;
                .slick-list {
                    height: inherit;
                    .slick-track {
                        height: inherit;
                        .slick-slide {
                            height: inherit;
                            .slide-inner {
                                width: 100%;
                                height: 100%;
                                background: #000;
                                color: #fff;
                                .photo {
                                    width: 100%;
                                    height: 100%;
                                    background-repeat: no-repeat;
                                    background-size: cover;
                                    background-position: center;
                                }

                                &:nth-child(odd) {
                                    .slide-inner {
                                        background: rebeccapurple;
                                    }
                                }
                            }
                        }
                    }
                }

                .slick-prev.slick-arrow {
                    display: inline-block;
                    z-index: 15;
                    transform: none;
                    bottom: 4em;
                    top: auto;
                    left: -0.8em;
                    right: auto;
                    width: 2.8em;
                    height: 2.8em;
                    font-size: 1em;
                    background-image: url(/img/icon-prev.svg);
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;

                    &::before {
                        display: none;
                    }
                }

                .slick-next.slick-arrow {
                    display: inline-block;
                    z-index: 15;
                    transform: none;
                    bottom: 4em;
                    top: auto;
                    right: -0.8em;
                    left: auto;
                    width: 2.8em;
                    height: 2.8em;
                    font-size: 1em;
                    background-image: url(/img/icon-next.svg);
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;

                    &::before {
                        display: none;
                    }
                }
            }
        }

        .team {
            .container {
                .section-title {
                    position: relative;
                    display: inline-block;
                    margin: 0;
                    font-size: 1.6em;
                    text-transform: uppercase;
                    font-weight: bold;
                    top: auto;
                    left: 2.6em;
                    width: auto;
                    line-height: 1.3;
                    margin: 0.95em 0 0 0;
                }

                .team-list {
                    margin: 0.8em 0;
                    display: flex;
                    align-items: stretch;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    padding: 0 4em;

                    .team-member {
                        width: 50%;
                        flex: none;
                        padding: 0 1em 0 0;
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-start;
                        flex-wrap: nowrap;
                        .photo {
                            width: 5.8em;
                            height: 5.8em;
                            flex: none;
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: contain;
                        }
                        .info {
                            padding: 0.3em 1em;
                            .name {
                                font-size: 1.6em;
                                letter-spacing: 0.04em;
                                margin-bottom: 0.2em;
                            }
                            .description {
                                font-size: 0.9em;
                                line-height: 1.5;
                            }
                        }
                    }
                }
            }
        }
    }
}
